* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Playfair Displays", Times, serif;
}

.big-container {
  max-width: 375px;
  padding: 0 11px;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .big-container {
    max-width: 768px;
  }

  h2, h3 {
    font-size: 2.4rem;
  }
}
@media (min-width: 1200px) {
  .big-container {
    max-width: 969px;
  }
}
header {
  padding: 32px 0;
}
header img {
  margin-left: 1px;
  margin-top: 4px;
}
header h1 {
  margin-bottom: 12px;
  font-size: 2.4rem;
  max-width: 587px;
  font-weight: 700;
}
header p {
  font-size: 1.2rem;
  font-style: italic;
  max-width: 310px;
  font-weight: 500;
}
header .recipe-info {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

@media (min-width: 600px) {
  header h1 {
    font-size: 4.8rem;
  }
  header p {
    font-size: 1.4rem;
    max-width: 592px;
  }
}
main img {
  width: 100%;
  border-radius: 12px;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 0;
}
aside section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
aside section > div {
  display: flex;
  gap: 14px;
}
aside section span {
  width: 27px;
  height: 27px;
}
aside section p:nth-child(1) {
  font-size: 1rem;
  color: #BDBDBD;
  font-weight: 700;
  text-transform: uppercase;
}
aside section P:nth-child(2) {
  font-size: 1.2rem;
  font-weight: 500;
}

.material-icons {
  font-size: 30px;
}

.orange {
  color: orange;
}

div article h4 {
  margin-top: 23px;
  font-weight: 500;
  font-style: italic;
  font-size: 1.6rem;
}

ul {
  margin-top: 23px;
}
ul li {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  margin-bottom: 18px;
}
ul li input {
  width: 21px;
  height: 21px;
}
ul li p {
  line-height: 2.1rem;
  font-size: 1.4rem;
}

ol {
  margin-top: 28px;
  list-style: none;
}
ol li {
  display: flex;
  gap: 15px;
  margin-bottom: 27px;
  line-height: 2.4rem;
}
ol li p:nth-child(1) {
  font-family: "Playfair Displays", Times, serif;
  font-size: 2.4rem;
  padding: 10px 14px;
  color: white;
  background-color: #F2994A;
  border-radius: 6px;
}

@media (min-width: 600px) {
  div article h4 {
    font-size: 1.8rem;
  }

  li p {
    font-size: 1.6rem;
    max-width: 549px;
  }

  aside section div:nth-child(2) {
    justify-content: center;
  }
  aside section div:nth-child(3) {
    justify-content: flex-end;
  }
}
@media (min-width: 1200px) {
  main > div > div {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
  }
  main > div > div aside {
    flex-direction: column;
    gap: 43px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    height: fit-content;
    padding: 50px 54px;
    order: 1;
  }
  main > div > div aside section {
    gap: 43px;
    grid-template-columns: 1fr;
  }
}
footer {
  padding: 20px;
  margin-top: 100px;
  text-align: center;
  color: #A9A9A9;
}
footer a {
  font-weight: bolder;
  color: inherit;
} 